@import "tailwindcss";

:root {
  --bg-main: #f3f4f6; /* light gray */
  --text-main: #111827; /* dark text */
  --card-bg: #fff;
  --card-border: #e5e7eb;
}

[data-theme="dark"] {
  --bg-main: #111827; /* Tailwind bg-gray-900 */
  --text-main: #fff; /* Tailwind text-white */
  --card-bg: #23272f;
  --card-border: #333646;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  /* Ensure text antialiasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
